<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">My Claims</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-light" style="float: right;" routerLink="/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<!--Success Message-->
<div *ngIf="successmsg" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{successmsg}}</strong>

</div>
<br>



<!-- Reimbursement Model start -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">New Reimbursement</h1>
      </div>
      <div class="modal-body">

        <!--Success Message-->
        <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>

        </div>

        <form class="form" role="form" [formGroup]="userForm" (ngSubmit)="addReimbursement()">
          <div class="form-group">
            <label>Date</label>
            <input type="date" formControlName="date" class="form-control form-control-lg rounded-0" name="date">

          </div>
          <br>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Reimbursement Type</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="reimbursementType">
              <option>Medical</option>
              <option>Travel</option>
              <option>Food</option>
              <option>Entertainment</option>
              <option>Misc</option>
            </select>
          </div>

          <br>
          <div class="form-group">
            <label>Requested Value</label>
            <input type="number" formControlName="requestedValue" class="form-control form-control-lg rounded-0"
              name="requestedValue">
          </div>
          <br>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Currency</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="currency">
              <option>INR</option>
              <option>USD</option>
              <option>Euro</option>
            </select>
          </div>
          <br>
          <!-- Upload Image -->
          <div class="form-group">
            <label class="form-label">Upload Image</label>
            <input class="form-control" type="file">
          </div>

          <br>
          <div class="form-group">
            <input type="hidden" formControlName="emailAddress" class="form-control form-control-lg rounded-0"
              name="requestedValue">
          </div>
          <button type="submit" class="btn btn-success btn-lg float-right">Submit</button>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Reimbursement Model Close -->

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-3 mb-2">
      <a class="btn btn-outline-dark" (click)="show()">Add New Reimbursement</a>
    </div>
    <div class="col-12 col-sm-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Reimbursement Type</th>
              <th scope="col">Requested Value</th>
              <th scope="col">Approved Value</th>
              <th scope="col">Currency</th>
              <th scope="col">Request Phase</th>
              <th scope="col">Receipt Attached</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="head" *ngFor="let reimbursement of allData">
              <td> {{reimbursement.date}}</td>
              <td>{{reimbursement.reimbursementType}}</td>
              <td>{{reimbursement.requestedValue}}</td>
              <td>{{reimbursement.approvedValue}}</td>
              <td>{{reimbursement.currency}}</td>
              <td>{{reimbursement.requestedPhase}}</td>
              <td>{{reimbursement.receiptAttached}}</td>
              <td>
                <div class="row">
                  <div class="col-sm-6">
                    <a class="btn btn-outline-dark btn-sm"
                      [routerLink]="['edit-reimbursement',reimbursement.id]">Edit</a>
                  </div>
                  <div class="col-sm-6">
                    <a class="btn btn-outline-dark btn-sm" mat-button (click)="delete(reimbursement.id)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>